/* Graphs.css */

/* Page design */
.graphs-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: var(--bg-color);
    color: var(--colored-text);
    min-height: 100vh;
}

.page-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 80px;
}

/* Dropdown styling */
.dropdowns-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.dropdown-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-group label {
    margin-bottom: 5px;
    font-weight: bold;
}


/* Graph and date container */
.chart-and-date-container {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    width: 100%;
    max-width: 1200px;
}

/* Date range picker */
.date-range-picker {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    min-width: 350px;
    margin-top: 20px;
}

.graphs-page .react-calendar__tile {
    border-radius: 0 !important; /* Remove border radius for tiles */
}

/* Graph section */
.chart-section {
    flex: 3;
    min-width: 700px;
    min-height: 400px; /* Set minimum height */
    height: 100%; /* Ensure the chart takes the full height of its container */
}

/* Controls container */
.controls-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Favorite buttons */
.favorite-group {
    display: flex;
    gap: 10px;
}

.favorite-button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--btn-bg-color2);
}