:root{
    --colored-text:white;
    --black-text:black;
    --pagination-disabled: #ccc;
}

.snippets-page {
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.snippets-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--colored-text);
    margin-bottom: 20px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination-button {
    border: none;
    background: none;
    color: var(--black-text);
    font-size: 18px;
    margin: 0 5px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.pagination-button:hover,
.pagination-button.active {
    font-weight: bold;
    color:#E4277D;
    text-decoration: underline;
    
}

.pagination-button:disabled {
    cursor: not-allowed;
    color: var(--pagination-disabled);
}


