:root{
  --black-text:black;
}

.skills-matrix-container {
    padding: 20px;
  }
  
  .page-title {
    text-align: center;
    margin-bottom: 80px;
  }
  
  .skills-matrix-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .skills-matrix-table th, .skills-matrix-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .skills-matrix-table th {
    color: white;
  }

  .skills-matrix-table span:hover {
    color: #E4277D !important;
  }
  
  .skills-matrix-table input[type="number"] {
    width: 50px;
    padding: 5px;
  }
  
  .skills-matrix-captions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    color:var(--black-text)
  }
  
  .skills-matrix-captions div {
    display: flex;
    align-items: center;
  }
  
  .caption-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 5px;
  }
  
  .modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
}

.trash-can {
  background: none !important; /* Remove any background */
  border: none !important; /* Remove border */
  padding: 0 !important; /* Remove padding */
  box-shadow: none !important; /* Remove box shadow */
  cursor: pointer; /* Set cursor to pointer */
}

.trash-can:hover {
  background: none; /* Ensure background stays transparent on hover */
}

.trash-can svg {
  fill: currentColor; /* Ensures the icon color uses the text color */
}

.filters-section {
  margin-bottom: 20px;
}

.filters-row {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content:space-evenly;
}

.filters-row select{
  width: 250px;
  height: 50px;
}

.selection-column{
  display: flex;
  flex-direction: column;
}

/* SkillsMatrix.css */

.multi-select {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 200px; /* Adjust as needed */
}

.multi-select-item {
  padding: 5px 10px;
  border: 1px solid #007BFF;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.3s;
  max-height: 20px;
}

.multi-select-item.selected {
  background-color: #007BFF;
  color: white;
}

.scrollable {
  max-height: 70px; /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ddd; /* Optional border */
  padding: 5px; /* Optional padding */
}


.multi-select-item:hover{
  transform: scale(1.05); /* Slight scale effect on hover */
}

.skill-level-captions{
  color:var(--black-text);
}