:root {
  --chart-section: white;
  --black-text: black;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.date-range-picker {
  margin-top: 20px;
}

.favorite-graphs-page .react-calendar__tile {
  border-radius: 0 !important;
}

.favorite-graphs-page {
  padding: 20px;
}

.overall-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.half-doughnut-container {
  width: 200px;
  height: 100px;
}

.page-title {
  margin-right: 80px;
}

.team-selection {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.team-selection select {
  padding: 5px;
  font-size: 14px;
  max-width: 250px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: start;
}

.grid-container h3 {
  color: var(--black-text);
}

.chart-section, .calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--chart-section);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 600px;
  width: 700px;
}


.dropdown-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .overall-progress {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .half-doughnut-container {
    margin-top: 20px;
  }
}
