/* Users Page Styling */
:root {
    --container-color1: #E4277D;
    --container-color2: #FFB300;
    --btn-bg-color : #E4277D;
    --colored-text : white;
}

.users-container {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background: transparent;
    color: var(--colored-text);
}

.form-inputs {
    display: flex;
    flex-direction: row; /* Align elements horizontally */
    align-items: center;
    gap: 15px; /* Add space between the form elements */
    flex-wrap: nowrap; /* Prevent wrapping to new lines */
}

.form-title {
    color: var(--colored-text);
}

.page-title {
    font-size: 28px;
    color: #E4277D; /* Update title color */
    text-align: left;
    margin-bottom: 20px;
}

.new-user-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.input-field {
    height: 45px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 16px;
    box-sizing: border-box;
    min-width: 250px; /* Ensure a minimum width for input fields */
    flex-grow: 1; /* Allow the input field to grow and occupy available space */
}

select.input-field {
    height: 45px; /* Ensure the same height for select elements */
}

.users-create-button {
    height: 45px; /* Match button height with input fields */
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--btn-bg-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--btn-bg-color); /* Add the border */
    margin-top: -3px;
}

.users-table {
    margin-top: 20px;
}

table {
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

/* Center the content of the Actions column */
.centered-column {
    text-align: center;
}


th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #555;
}

tr:last-child td {
    border-bottom: none;
}

select {
    margin-bottom: 0; /* Remove additional bottom margin */
}
